<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>

    <script type="text/javascript" src="../build/app.js"></script>
    <script type="text/javascript" src="static/index.js"></script>
    <title>tcg.js</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">tcg.js</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Game</a></li>
            
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main" ng-app="TCG" ng-controller="MainController">
        <div class="jumbotron">
            
            
        </div>

            <div class="row">
                  <div class="col-md-3" ng-repeat="panel in panels"><div class="panel panel-info">
                        <div class="panel-heading">{{panel}}</div>
                          <div class="panel-body">
                            Panel content
                          </div>

                  </div></div>
            </div>

            <div class="row">
                  <div class="col-md-3" ng-repeat="panel in panels"><div class="panel panel-warning">
                        <div class="panel-heading">{{panel}}</div>
                          <div class="panel-body">
                            Panel content
                          </div>

                  </div></div>
            </div>
    </div>
</body>
</html>